<a href="https://colab.research.google.com/github/ddiramisoo1230/NLP_PictureBook_2025/blob/main/_20250150.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#01
list1=[3,5,7]
list2=[2,3,4,5,6]
for i in list1:
  for j in list2:
    print(i,'*',j,'=',i*j)

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [ ]:
#01
list1=[3,5,7]
list2=[2,3,4,5,6]
for i in list1:
  for j in list2:
    print(f'{i}*{j}={i*j}')

3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42

In [ ]:
#2
fruit_list=['banana','orange','kiwi','apple','melon']
for i in fruit_list:
  print(i,":문자열의길이", len(i))

banana :문자열의길이 6
orange :문자열의길이 6
kiwi :문자열의길이 4
apple :문자열의길이 5
melon :문자열의길이 5

In [ ]:
#2
fruit_list=['banana','orange','kiwi','apple','melon']
for i in range(len(fruit_list)):
  print(fruit_list[i],":문자열의길이", len(fruit_list[i]))

banana :문자열의길이 6
orange :문자열의길이 6
kiwi :문자열의길이 4
apple :문자열의길이 5
melon :문자열의길이 5

In [ ]:
spell=['j','e','s','u','s']
spell[2]="l"
spell[3]="l"
spell[4]="y"
print(spell)

['j', 'e', 'l', 'l', 'y']

In [ ]:
#3
spell=['j','e','s','u','s']
spell[2:]="lly"
print(spell)

['j', 'e', 'l', 'l', 'y']

In [ ]:
import random
lotto=[]
while len(lotto)<6:
  n=random.randint(1,45)
  if n in lotto:
    continue
  else:
    lotto.append(n)
lotto.sort()
print(lotto)

[10, 12, 15, 29, 35, 38]

In [ ]:
import random
goodsay=['happy','love','sad','hot','angry','fortunage']
a =random.choice(goodsay)
name=input('당신의 이름:')
print(name,'님의 오늘의 운세는',a,'입니다.')
print(f"{name}님의 오늘의 운세는 {a}입니다.")

당신의 이름:dlwodbs
dlwodbs 님의 오늘의 운세는 happy 입니다.
dlwodbs님의 오늘의 운세는 happy입니다.

In [ ]:
#5
score=[80,90,70,60,50]
cnt=0
for i in score:
  if i >=80:
    cnt+=1
print('합격생 수는',cnt,'명입니다.')

합격생 수는 2 명입니다.

In [ ]:
#6
stu={}
for i in range(5):
  name=input('이름:')
  num=input('학번:')
  stu[name]=num
print(stu)

In [ ]:
stu={'홍길동':'1','이순신':'2','이황':'3','이이':'4','세종대왕':'5'}
stu['이황']=7
del(stu['세종대왕'])
print(stu)
print(stu['이순신'])
name2=input('찾고 싶은 이름:')
if name2 in stu.keys():
  print(stu[name2])
else:
  print('없는 이름입니다.')

{'홍길동': '1', '이순신': '2', '이황': 7, '이이': '4'}
2
찾고 싶은 이름:재윤
없는 이름입니다.