<a href="https://colab.research.google.com/github/ddiramisoo1230/NLP_PictureBook_2025/blob/main/_20250150_ch8ch09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s='spring'
for i in range(len(s)):
  print(i+1,'번째 :',s[i])

1 번째 : s
2 번째 : p
3 번째 : r
4 번째 : i
5 번째 : n
6 번째 : g

In [ ]:
num=['첫번째','두번째','세번째']
fruit=['사과','딸기','수박']
for i in range(len(num)):
  print(num[i],'과일은',fruit[i])

첫번째 과일은 사과
두번째 과일은 딸기
세번째 과일은 수박

In [ ]:
#오늘 당신의 컬러는 00색입니다.
import random
color=['red','green','blue','purple','orange','brown']
n=random.randint(0,5) #1부터 5까지 숫자 중에 하나를 뽑아 n에 저장
print(n,'오늘 당신의 컬러는',color[n],'색입니다.')

3 오늘 당신의 컬러는 purple 색입니다.

In [ ]:
#랜덤으로 숫자를 5개 뽑아서 num_list에 추가하여 오름차순 정렬하여 출력
import random
num_list=[]
for i in range(5):
  n=random.randint(1,100)
  num_list.append(n)
num_list.sort()
print(num_list)

[15, 51, 60, 69, 75]

In [ ]:
#랜덤으로 숫자를 뽑아서 짝수 5개 num_list에 추가하여 오름차순 정렬하여 출력
import random
num_list=[]
cnt=0
while True:
  n=random.randint(1,100)
  if n%2==0:
    num_list.append(n)
    if len(num_list)==5:
      break
num_list.sort()
print(num_list)

[8, 8, 14, 20, 80]

In [ ]:
#ten이라는 리스트에 1부터 10까지 넣기
#odd라는 리스트에는 ten이라는 리스트의 짝수만 추가
#even이라는 리스트에는 ten이라는 리스트의 홀수만 추가하여 출력
ten=[]
odd=[]
even=[]
for i in range(10): #i는 0부터 10개이므로 0~9까지의 숫자
  ten.append(i+1)
for i in range(10):
  if ten[i]%2==0:
    even.append(ten[i])
  else:
    odd.append(ten[i])
print(ten)
print(odd)
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
#랜덤으로 숫자 10개를 뽑아서 3의 배수만 milti3리스트에 추가하시오
10개를 모두 뽑아서 하나씩 3의 배수를 확인하여 appended
1개 뽑고 3의 배수 확인하여 append하는 작업을 10번

SyntaxError: invalid syntax (<ipython-input-87-b907c63bd220>, line 2)

In [ ]:
import random
num=[]
multi3=[]
for i in range(10):
  num.append(random.randint(1,100))
print(num)
for i in num:
  if i%3==0:
    multi3.append(n)
print(multi3)

[84, 57, 75, 72, 80, 47, 18, 70, 50, 76]
[100, 100, 100, 100, 100]

In [ ]:
import random
num=[]
multi3=[]
for i in range(10):
  n=random.randint(1,100)
  print(n,end=' ')
  if n%3==0:
    multi3.append(n)

print('\n',multi3)

75 13 99 1 12 13 29 63 52 41
 [75, 99, 12, 63]

In [ ]:
#multi라는 리스트에 3과 4의 공배수를 추가하시오(1~100사이의 숫자를 이용)
for문을 100번 반복
  만약 i가 3의 배수 그리고 4의 배수이면
    multi.append(i)
print(multi)

SyntaxError: invalid syntax (<ipython-input-85-f6bb7e2d6404>, line 2)

In [ ]:
multi=[]
for i in range(1,101):
  if i%3==0 and i%4==0:
    multi.append(i)
print(multi)

[12, 24, 36, 48, 60, 72, 84, 96]

In [ ]:
#div라는 리스트에 24의 약수를 추가하시오
tw=[]
for문을 24번 반복:
  24를 i로 나누어서 나머지가 0이면
    리스트에 추가
리스트 출력

In [ ]:
tw=[]
for i in range(1,25):
  if 24%i==0:
    tw.append(i)
print(tw)

[1, 2, 3, 4, 6, 8, 12, 24]